/*
 * default styling provided by psiturk demo
 *
 */
body {
  padding:0px;
  margin: 0px;
  background-color: white;
  color: black;
}


/* text styling */
strong {
  font-weight: 600;         
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}


/* these are all the same for now, but easy to modify individually */
#container-ad,
#container-error,
#container-exp,
#container-consent,
#container-instructions,
#container-questionnaire {
  position: absolute;
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  left: 0px;
  right: 0px;
  padding: 100px;
  padding-top: 5%;
  border: 18px solid #f3f3f3;
  background: white;
}

#container-ad,
#container-error,
#container-consent,
#container-instructions,
#container-questionnaire {
  font-weight: 300; 
  font-size: 13pt;
}

#container-consent,
#container-exp {  /* override padding to fit long consent forms and exp display*/
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1%;
}

/* ad.html  - the ad that people view first */
#adlogo {
  float: right;
  width: 140px;
  margin-top: 25px;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#query {
  color: darkgray;
}

.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}


/*
 * styling for seq-prediction elements
 *
 */
#stage {
  /* height: 200px; */
  /* min-height: 200px; */
  overflow: auto;
  width: 900px;
  margin: auto;
  padding: 5em 0;
}

#syl-drawer {
  text-align: center;
}

div.cow {
  float: right;
  padding-top: 5em;
}

div.elephant {
  float: left;
  padding-top: 5em;
}

.stim div {
  position: relative;
  display: table;
  height: 90%;
  width: 100%;
  padding-right: 12px;
}

.stim div p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size:48px;
  color: #606388;
  padding-left: 12px;
}

.stim {
  float: left;
  position: relative;
  min-width: 175px;
  height: 140px;
  padding: 0px;
  /* margin-left: 2em; */
  /* margin-top: 50px; */
  /* background: #FFFFFF; */
  /* -webkit-border-radius: 40px; */
  /* -moz-border-radius: 40px; */
  /* border-radius: 40px; */
  /* border: #606388 solid 6px; */

  /* position:relative; */
  /* padding: 0; */
  margin:1em 0 3em;
  border:10px solid #606388;
  /* css3 */
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}

/* creates larger curve */
.stim:before {
  /* content: ''; */
  /* position: absolute; */
  /* border-style: solid; */
  /* border-width: 20px 20px 20px 0; */
  /* border-color: transparent #606388; */
  /* display: block; */
  /* width: 0; */
  /* z-index: 0; */
  /* left: -26px; */
  /* top: 51px; */

  content:"";
  position:absolute;
  z-index:10;
  bottom:-40px;
  left:50px;
  width:50px;
  height:30px;
  border-style:solid;
  border-width:0 10px 10px 0;
  border-color:#606388;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:80px 50px;
  -moz-border-radius-bottomright:80px 50px;
  border-bottom-right-radius:80px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates smaller curve */
.stim:after {
  /* content: ''; */
  /* position: absolute; */
  /* border-style: solid; */
  /* border-width: 15px 15px 15px 0; */
  /* border-color: transparent #FFFFFF; */
  /* display: block; */
  /* width: 0; */
  /* z-index: 1; */
  /* left: -15px; */
  /* top: 56px; */

  content:"";
  position:absolute;
  z-index:10;
  bottom:-40px;
  left:50px;
  width:20px;
  height:30px;
  border-style:solid;
  border-width:0 10px 10px 0;
  border-color:#606388;
  background:transparent;
  /* css3 */
  -webkit-border-bottom-right-radius:40px 50px;
  -moz-border-radius-bottomright:40px 50px;
  border-bottom-right-radius:40px 50px;
  /* reduce the damage in FF3.0 */
  display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.stim > :first-child:before {
  content:"";
  position:absolute;
  bottom:-52px;
  left:47px;
  width:10px;
  height:10px;
  background:#606388;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.stim > :first-child:after {
  content:"";
  position:absolute;
  bottom:-22px;
  left:70px;
  width:20px;
  height:10px;
  background:#fff;
}


.response {
  float: right;
  position: relative;
  width: 175px;
  height: 140px;
  padding: 0px;
  margin-right: 2em;
  margin-top: 9em;
  background: #FFFFFF;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: #814700 solid 6px;
}

.response div {
  position: absolute;
  display: table;
  height: 90%;
  width: 100%;
}

.response div p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size:48px;
  color: #814700;
}

.response:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 0 14px 19px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -19px;
  top: 56px;
}

.response:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 19px 0 19px 24px;
  border-color: transparent #814700;
  display: block;
  width: 0;
  z-index: 0;
  right: -30px;
  top: 51px;
}

.hidden {
  display: none;
}
